:host {
  display: block;
  max-width: 1000px;
  padding: 24px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

ul {
  list-style: none;
}
li {
  text-align: center;
  cursor: pointer;
  outline: none;
}