.wrapper {
  width: 720px;
  margin: 24px auto;
}

.pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pokemon__img {
  flex: 1;
}

img {
  object-fit: cover;
  vertical-align: bottom;
}

.pagination {
  margin-top: 16px;
  display: flex;
}

.pagination__btn {
  outline: none;
  cursor: pointer;
  p {
    font-size: 12px;
  }
  &.-prev {
    margin-right: auto;
    margin-left: 0;
    .thumbnails__img {
      margin-left: auto;
    }
  }
  &.-next {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    .thumbnails__img {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

.thumbnails__img {
  display: block;
  width: 70%;
  height: 70%;
}
