<div class="wrapper">
  <mat-card *ngIf="pokemon" class="pokemon">
    <div class="pokemon__img">
      <img src="assets/images/{{pokemon.id | number:'3.0'}}.png" alt="">
    </div>
    <div class="pokemon__desc">
      <h2><span>No.{{pokemon.id | number:'3.0'}}</span> {{pokemon.name.japanese}}</h2>
      <p>タイプ: {{pokemon.type | type}}</p>
      <p>HP: {{pokemon.base.HP}}</p>
      <p>こうげき: {{pokemon.base.Attack}}</p>
      <p>ぼうぎょ: {{pokemon.base.Defense}}</p>
      <p>とくこう: {{pokemon.base.SpAttack}}</p>
      <p>とくぼう: {{pokemon.base.SpDefense}}</p>
      <p>すばやさ: {{pokemon.base.Speed}}</p>

      <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
        [chartType]="radarChartType">
      </canvas>
    </div>
  </mat-card>

  <div class="pagination">
    <a class="pagination__btn -prev" *ngIf="prevId != 0" routerLink="/{{prevId}}">
      <img class="thumbnails__img" src="assets/thumbnails/{{prevId | number:'3.0'}}.png" alt="">
      <p>< まえのポケモン</p>
    </a>
    <a class="pagination__btn -next" *ngIf="nextId != 0" routerLink="/{{nextId}}">
      <img class="thumbnails__img" src="assets/thumbnails/{{nextId | number:'3.0'}}.png" alt="">
      <p>つぎのポケモン ></p>
    </a>
  </div>
</div>